<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <style>
    * {padding: 0; margin: 0;}
    #app {
      width: 20px;
      height: 20px;
      background-color: #555574;
      padding-top: 4px;
      padding-bottom: 2px; 
      padding-left: 5px;
      color: #e0e0e0;
      border: 2px solid #e0e0e0;
      font-size: 16px;
    }
    </style>
  </head>
  <body>
    <!-- <div id="app" class="" onclick="open_select_card()">搜</div> -->
    <div id="app" class="" onmouseover="open_select_card()">搜</div>
  </body>
  <script>
  const { ipcRenderer } = require('electron');

  function open_select_card() {
    ipcRenderer.send('open-select-card');
    // document.getElementById('app').className = 'animated bounceOut';
    setTimeout(() => {
      window.close();
    }, 500);
  }

  setTimeout(() => {  
  document.getElementById('app').className = 'animated fadeOut';
  }, 3000);
  setTimeout(() => {
    window.close();
  }, 4000)
  </script>
</html>