*{
  margin: 0;
  padding: 0;
}
html::-webkit-scrollbar { width: 0; }

body {
  font-family: "Microsoft Yahei", "\5B8B\4F53",  "Microsoft Sans Serif", sans-serif;
}

#app {
  width: 130px;
  font-size: 16px;
}
ul {
  padding: 4px;
  border-radius: 3px;
  box-shadow: 0 0 3px;
  overflow: hidden;
}

img {
  vertical-align: top;
  border: none;
}

li {
  list-style:none;
	height:30px;
	display:block;
	max-width:120px;
	line-height:30px;
  text-align:center;
  color: #333;
	cursor: pointer;
  transition:all ease 500ms;
  background-color: #fff;
  border-top: 1px solid #f8f8f8;
}
li:hover{
  background-color: #00adcb;
  color: #fff
}

li:first-child { border-top: 0; }
li + li + li { border-bottom: 0;}
