.grayList{
  height: 80px;
  width: 100%;
  background: #ebedf0!important;
}
.getNewWords{
  float: left;
  width: 80%;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space:nowrap
}
.badgePos{
  position: absolute;
  right: 10px;
  top:40px;
}
:global{
  .ant-list-item{
    position: relative;
  }
  .ant-list-item-meta-avatar{
    margin-right: 10px;
  }
  .ant-avatar {
    img{
      width: 46px;
      height: 46px;
      border-radius: 50px;
    }
  }
}
.listScroll{
  position: relative;
  width: 225px;
  height: 586px;
  borderRight: 1px solid #e4e4e4;
  background: #fff;
  float: left;
  overflow-x: hidden;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 3px;
    height: 50px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.2);
  }
  &::-webkit-scrollbar-track {
    background: #f0f2f5;
  }
}
.leftList{
  position: relative;
}
.itemList{
  height: 80px;
  width: 100%;
  position: relative;
}
.floatLeft{
  float: left;
  .imgLeft{
    float: left;
    margin: 17px 14px;
    width: 46px;
    height: 46px;
  }
  .titles{
    margin-top: 20px;
    color: #333;
    font-size: 14px;
    width: 105px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .news{
    color: #666;
    font-size: 12px;
    float: left;
    width: 100px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap
  }
}
.none{
  display: none;
}
