.headerTitle {
  height: 50px;
  font-size: 16px;
  border-bottom: 1px solid #e4e4e4;
  line-height: 50px;
  padding: 0 20px;
  color: #333;
}
.timeStyle {
  text-align: center;
  line-height: 50px;
  height: 50px;
  color: rgba(102, 102, 102, 0.6);
}
:global {
  .ant-spin-lg .ant-spin-dot {
    position: absolute;
    left: -16px;
    top: 250px;
    margin-left: 50%;
  }
  .ant-collapse-borderless {
    background: transparent !important;
  }
  .ant-card-actions > li {
    margin: 6px 0 5px;
    a {
      color: #1bb7d2 !important;
    }
  }
  .ant-card-actions {
    background: #fff;
    border-top: 1px solid #f2f2f4;
  }
  .ant-card-head {
    padding: 0;
  }
  .ant-card-body {
    padding: 16px 0;
    line-height: 30px;
  }
}
.goChild {
  float: right;
  width: 20% !important;
  text-align: right;
  font-size: 16px;
  font-weight: 900;
  font-family: '宋体', 'Microsoft Yahei', 'Microsoft Sans Serif', sans-serif;
}
.headerName {
  float: left;
  width: 40px;
  height: 40px;
  background: #1bb7d2;
  border-radius: 50px;
  color: #fff;
  margin: 0 10px 0 18px;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
}
.cardBox {
  float: left;
}
.newsTitle {
  line-height: 18px;
  height: 24px;
  color: #666;
}
.rightScroll {
  height: 535px;
  overflow-y: scroll;
  position: relative;
  -webkit-app-region: no-drag !important;
  &::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 8px; /*高宽分别对应横竖滚动条的尺寸*/
  }
  &::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 50px;
    //-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
    background: rgba(0, 0, 0, 0);
  }
  &::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    background: transparent;
  }
}
.rightScrollHover {
  height: 535px;
  overflow-y: scroll;
  position: relative;
  -webkit-app-region: no-drag !important;
  &::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 8px; /*高宽分别对应横竖滚动条的尺寸*/
  }
  &::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 50px;
    //-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
    background: rgba(0, 0, 0, 0.2);
  }
  &::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    background: transparent;
  }
}
.boxItem {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 9;
  margin: 30px 0;
  //-webkit-app-region: drag;
  //-webkit-user-select: none;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 30px;
  }
}
.tagStyle {
  background: #fff;
  color: #ff9203;
  border: 1px solid #ff9203;
  text-align: center;
  font-size: 14px;
  float: right;
  margin-right: 0;
  cursor: default;
}
.none {
  display: none;
}
.overText {
  float: left;
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 24px;
}
.sawp {
  float: left;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sawpLeft {
  float: left;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  color: #666;
}
.nameStyle {
  font-size: 14px;
  line-height: 24px;
  color: #666;
}
.headerImgSay {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  display: block;
  background: #fff;
}
.allNum {
  position: absolute;
  z-index: 999;
  top: 90px;
  left: 36px;
}
.rightBox {
  padding: 16px;
}
.panalHeaderClick {
  :global {
    .ant-collapse-header {
      color: #1bb7d2 !important;
      font-size: 16px !important;
    }
  }
}
.panalHeader {
  :global {
    .ant-collapse-header {
      color: #333 !important;
      font-size: 16px !important;
    }
  }
}
.colorText {
  color: #555;
  line-height: 24px;
}
.saveIcon {
  position: absolute;
  top: 18px;
  cursor: pointer;
  -webkit-app-region: no-drag !important;
}
.rightList {
  width: 80px;
  text-align: center;
  line-height: 30px;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
  position: absolute;
  z-index: 999;
  overflow: hidden;
  div {
    cursor: pointer;
    &:hover {
      background: #1bb7d2;
      color: #fff;
    }
  }
}
