.colStyle {
  background: #fff;
  border-radius: 4px;
  margin: 20px 0 0;
  height: 66px;
  cursor: pointer;
  box-shadow: 0 2px 6px #dedede;
  -webkit-app-region: no-drag !important;
  position: relative;
  &:after,
  &:before {
    -webkit-user-drag: auto !important;
  }
  img {
    float: left;
  }
  span {
    font-size: 16px;
    float: left;
    line-height: 66px;
    color: #343434;
  }
  &:hover {
    background: #1bb7d2;
    span {
      color: #fff !important;
    }
  }
}
.delBtn {
  background: #ff9100 !important;
  margin: 20px 0 0 0 !important;
  -webkit-app-region: no-drag !important;
}
.addStyle {
  border-radius: 4px;
  margin: 20px 0 0;
  background: transparent;
  border: 1px solid #1bb7d2;
  color: #1bb7d2;
  line-height: 66px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 2px 6px #dedede;
  -webkit-app-region: no-drag !important;
  font-size: 18px;
  height: 66px;
  position: relative;
  &:hover {
    background: #1bb7d2;
    color: #fff;
  }
}
.add {
  font-size: 30px;
  float: left;
  line-height: 60px;
}
.name {
  float: left;
}
.addBox {
  position: absolute;
  margin-left: 50%;
  left: -28px;
}
.del {
  position: absolute;
  top: -10px;
  right: -10px;
}
.none {
  display: none;
}
.ExeName {
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dragDel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  height: 68px;
  line-height: 68px;
  font-size: 18px;
  color: #f00;
  background: url('../../../public/images/delete_bg.png');
}
.dragDelBox {
  margin-top: 20px;
  img {
    margin-left: 50%;
    position: absolute;
    left: 23px;
  }
}
