.headerTitle {
  height: 60px;
  font-size: 16px;
  //border-bottom: 1px solid #e4e4e4;
  line-height: 60px;
  padding: 0 20px;
  color: #fff;
  background: #219efa;
  position: relative;
  z-index: 99;
}
.timeStyle {
  text-align: left;
  padding-left: 20px;
  line-height: 50px;
  height: 70px;
  color: #333;
}
.checkedTag {
  width: 100%;
  padding: 16px 24px;
  background: #fff;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  :global {
    .ant-checkbox-group-item,
    .ant-radio-wrapper {
      color: #333 !important;
      margin: 5px 2% !important;
      width: 46% !important;
      min-width: 110px;
      line-height: 28px !important;
      height: 28px !important;
      background: #fff !important;
      border-radius: 3px !important;
      border: 1px solid #e2e2e2;
      text-align: center;
    }
    .ant-tag-checkable {
      color: #333 !important;
      margin: 5px 2% !important;
      width: 46% !important;
      min-width: 110px;
      line-height: 28px !important;
      height: 28px !important;
      border-radius: 3px !important;
      border: 1px solid #e2e2e2;
      text-align: center;
      height: auto;
      line-height: 1.5;
      padding: 0;
      font-size: 14px;
    }
    .ant-radio-wrapper-checked,
    .ant-tag-checkable-checked {
      background: #0195ff !important;
      color: #fff !important;
      border: 1px solid #0195ff;
      box-shadow: 0 0 5px #e2e2e2;
    }
    .ant-radio {
      display: none;
    }
    .ant-radio-inner:after {
      background: #1bb833 !important;
    }
    .ant-radio-checked .ant-radio-inner {
      border-color: #1bb833 !important;
    }
  }
}
.boxTime {
  position: relative;
  height: 260px;
}
.boxTimeHide{
  height: 0px;
  overflow: hidden;
}
:global {
  .ant-calendar-picker-input{
    opacity: 0;
    position: absolute;
    top: -13px;
  }
  .ant-layout {
    background: #f9f9f9 !important;
  }
  .ant-checkbox-group {
    width: 100% !important;
  }
  .ant-calendar-date {
    border-radius: 50px !important;
  }
  .ant-calendar {
    box-shadow: none !important;
    border-radius: 0 !important;
    border: none !important;
  }
  .ant-calendar-range .ant-calendar-body,
  .ant-calendar-range .ant-calendar-month-panel-body,
  .ant-calendar-range .ant-calendar-year-panel-body {
    background: #f9f9f9;
  }
  .ant-calendar-range-right,
  .ant-calendar-range-middle,
  .ant-calendar-input-wrap {
    display: none !important;
  }
  .ant-calendar-picker-container,
  .ant-calendar-range,
  .ant-calendar-range-part {
    width: 100% !important;
    top:0!important;
  }
  .ant-spin-lg .ant-spin-dot {
    position: absolute;
    left: -16px;
    top: 40% !important;
    margin-left: 50%;
  }
  .ant-collapse-borderless {
    background: transparent !important;
  }
  .ant-card-actions > li {
    margin: 6px 0 5px;
    a {
      color: #1d94ee !important;
    }
  }
  .ant-card-actions > li:not(:last-child) {
    border-right: 1px solid #ccc;
  }
  .ant-card-actions {
    background: linear-gradient(bottom, #fff, #f6f7f9) !important;
    border-top: 1px solid #f2f2f4;
    color: #232c3d !important;
  }
  .ant-card-head {
    min-height: 30px !important;
    padding: 0 16px !important;
    background: linear-gradient(top, #fff, #f6f7f9) !important;
  }
  .ant-card-cover {
    padding: 16px 0 !important;
    margin: 0 16px;
    border-bottom: 1px solid #f3f2f7;
  }
  .ant-card-head-title {
    padding: 8px 0 !important;
  }
  .ant-card-body {
    padding: 16px;
    line-height: 30px;
  }
  .ant-drawer-wrapper-body {
    background: #f9f9f9 !important;
    color: #000 !important;
    overflow: hidden !important;
  }
  .ant-drawer-body {
    padding: 0 !important;
  }
  .ant-drawer-header {
    background: #283345 !important;
    color: #fff !important;
    border-bottom: none !important;
    text-align: center;
    border-radius: 0;
    -webkit-app-region: no-drag;
  }
  .ant-drawer-title {
    color: #fff !important;
  }
  .ant-calendar-selected-date .ant-calendar-date,
  .ant-calendar-selected-start-date .ant-calendar-date,
  .ant-calendar-selected-end-date .ant-calendar-date {
    background: #1d9cf9 !important;
    color: #fff !important;
    border: 1px solid #1d9cf9 !important;
  }
  .ant-calendar-today .ant-calendar-date {
    background: #666 !important;
    color: #fff !important;
    border: 1px solid #666 !important;
  }
  .ant-calendar-selected-day .ant-calendar-date {
    background: #1d9cf9 !important;
    color: #fff !important;
    border: 1px solid #1d9cf9 !important;
  }
}
.goChild {
  float: right;
  width: 20% !important;
  text-align: right;
  font-size: 16px;
  font-weight: 900;
  font-family: '宋体', 'Microsoft Yahei', 'Microsoft Sans Serif', sans-serif;
}
.headerName {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  color: #fff;
  margin: 15px;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
}
.cardBox {
  float: left;
}
.newsTitle {
  line-height: 18px;
  height: 24px;
  color: #666;
}
.rightScroll {
  height: 535px;
  overflow-y: scroll;
  position: relative;
  -webkit-app-region: no-drag !important;
  &::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 0px; /*高宽分别对应横竖滚动条的尺寸*/
  }
  &::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 50px;
    //-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
    background: rgba(0, 0, 0, 0);
  }
  &::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    background: transparent;
  }
}
.rightScrollHover {
  height: 535px;
  overflow-y: scroll;
  position: relative;
  -webkit-app-region: no-drag !important;
  &::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 0px; /*高宽分别对应横竖滚动条的尺寸*/
  }
  &::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 50px;
    //-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
    background: rgba(0, 0, 0, 0.2);
  }
  &::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    background: transparent;
  }
}
.boxItem {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 9;
  margin: 30px 0;
  //-webkit-app-region: drag;
  //-webkit-user-select: none;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 30px;
  }
}
.tagStyle {
  background: transparent;
  color: #ff9900;
  border: 0;
  text-align: center;
  font-size: 14px;
  float: right;
  margin-right: 0;
  cursor: default;
  margin-top: 2px;
}
.none {
  display: none;
}
.overText {
  float: left;
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 24px;
}
.sawp {
  float: left;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sawpLeft {
  float: left;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  color: #666;
}
.nameStyle {
  font-size: 14px;
  line-height: 24px;
  color: #666;
}
.headerImgSay {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  display: block;
  background: #fff;
}
.allNum {
  position: absolute;
  z-index: 999;
  top: 90px;
  left: 36px;
}
.rightBox {
  padding: 16px;
}
.panalHeaderClick {
  :global {
    .ant-collapse-header {
      color: #1d94ee !important;
      font-size: 16px !important;
    }
  }
}
.panalHeader {
  :global {
    .ant-collapse-header {
      color: #333 !important;
      font-size: 16px !important;
    }
  }
}
.colorText {
  color: #555;
  line-height: 24px;
  img {
    width: 100%;
  }
}
.saveIcon {
  position: absolute;
  top: 10px;
  cursor: pointer;
  -webkit-app-region: no-drag !important;
}
.lookIcon {
  width: 18px;
  position: absolute;
  top: 11px;
  -webkit-app-region: no-drag !important;
}
.rightList {
  width: 80px;
  text-align: center;
  line-height: 30px;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
  position: absolute;
  z-index: 999;
  overflow: hidden;
  div {
    cursor: pointer;
    &:hover {
      background: #1d94ee;
      color: #fff;
    }
  }
}
.tagBtnBox {
  height: 60px;
  background: #f9f9f9;
  border-top: 1px solid #eee;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.btnTag {
  height: 40px !important;
  line-height: 40px;
  border-radius: 50px;
  color: #fff;
  text-align: center;
  margin: 10px 7% !important;
  padding: 0;
  width: 86%;
  background: linear-gradient(right, #ff3366, #ff9966) !important;
  font-size: 18px;
}
.titleTop {
  font-size: 14px;
  margin: 10px 0;
  padding: 10px 0 0;
  border-top: 1px solid #2f3a4a;
  color: #eee;
}
.titleBorderNone {
  font-size: 14px;
  margin: 10px 0;
  padding: 10px 0 0;
}
.floatR {
  float: left;
}
.tagScroll {
  overflow-y: scroll;
  //padding: 0 16px;
  &::-webkit-scrollbar {
    width: 0px; /*高宽分别对应横竖滚动条的尺寸*/
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: transparent;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}
.pcLogin {
  background: #f9f9f9;
  height: 36px;
  line-height: 36px;
  color: #333;
  padding: 0 20px;
  font-size: 16px;
  position: relative;
  z-index: 999;
  top: -4px;
}
.appList {
  background: #fff;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #eee;
  overflow-y: hidden;
  //overflow-x: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: transparent;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}
.applistLeft {
  float: left;
  font-size: 14px;
  width: ~'calc(100% - 180px)';
  color: #999;
  line-height: 24px;
  padding-top: 11px;
  .listName {
    font-weight: 400;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333;
  }
}
.applistRight {
  float: right;
  font-size: 18px;
  line-height: 24px;
  padding-top: 11px;
  width: 110px;
  text-align: right;
  padding-right: 10px;
  .listTime {
    font-size: 14px;
    color: #999;
  }
  .listStute {
    font-size: 14px;
    color: #fe9b02;
  }
}
.listLeftBox {
  float: left;
  width: 100%;
  position: relative;
}
.listRightBox {
  float: right;
  background: #eeeeee;
  height: 70px;
  .listBtn {
    //width: 42px;
    //height: 42px;
    background: #38e16e;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 16px;
    border-radius: 60px;
    margin: 14px;
    box-shadow: 0 0 10px #aaa;
  }
}
.appHeader {
  height: 60px;
  background: #fff;
  margin-top: 10px;
  border-bottom: 1px solid #eee;
  :global {
    .anticon {
      margin-top: 6px !important;
    }
  }
  .leftIcon {
    float: left;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: #0195ff;
    margin: 15px 10px 10px 16px;
    text-align: center;
    //line-height: 30px;
    font-size: 18px;
  }
  .appHeaderTilte {
    float: left;
    font-size: 16px;
    line-height: 60px;
  }
  .rightIcon {
    float: right;
    color: #ff4e00;
    font-size: 26px;
    line-height: 60px;
    margin: 0 16px;
  }
}
.spinStyle{
  :global{
    .ant-spin-dot{
      top:1px;
    }
    .ant-spin-dot i{
      background: #bbb!important;
    }
  }
}
.redbox{
  height: 10px;
  width: 10px;
  background: #f00;
  border-radius: 10px;
  position: absolute;
  left: 47px;
  top: 18px;
}
