@import '~antd/lib/style/themes/default.less';
.main {
  width: 100% !important;
  margin: 0 auto;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  @media screen and (max-width: @screen-sm) {
    width: 95%;
  }
  .icon {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.2);
    margin-left: 16px;
    vertical-align: middle;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: @primary-color;
    }
  }

  .other {
    text-align: left;
    margin-top: 24px;
    line-height: 22px;

    .register {
      float: right;
    }
  }
}
.loginAllStyle {
  width: 74% !important;
  position: absolute;
  left: 13%;
  top: 300px;
  :global {
    .ant-input-affix-wrapper {
      width: 100% !important;
      margin-left: 0 !important;
    }
    .ant-input-lg {
      height: 46px !important;
      font-size: 16px !important;
    }
    .ant-tabs-nav-wrap {
      display: none;
    }
  }
  .prefixIcon {
    font-size: 16px !important;
  }
}
@media only screen and (max-width: 350px) {
  .loginAllStyle {
    width: 90% !important;
    position: absolute;
    left: 5%;
    top: 270px;
    :global {
      .ant-input-affix-wrapper {
        width: 86% !important;
        margin-left: 7% !important;
      }
    }
  }
}

.btnBg {
  width: 100% !important;
  background: linear-gradient(right, #ff3366, #ff9966) !important;
  border-radius: 50px !important;
  height: 46px !important;
  margin-left: 0px !important;
  margin-top: 10px !important;
  font-size: 18px !important;
}
@media only screen and (max-width: 350px) {
  .btnBg {
    background: linear-gradient(right, #ff3366, #ff9966) !important;
    border-radius: 50px !important;
    height: 46px !important;
    margin-left: 7% !important;
    margin-top: 10px !important;
    width: 86% !important;
    font-size: 16px !important;
  }
}
:global {
  .ant-tabs {
    -webkit-app-region: no-drag;
  }
  .ant-tabs-nav-wrap {
    margin-top: 22px !important;
    margin-left: -16px !important;
  }
}
.none {
  display: none !important;
}
.loginHeader {
  -webkit-app-region: drag;
  -webkit-user-select: none;
}
.iconWindows {
  -webkit-app-region: no-drag;
  cursor: pointer;
  &:hover {
    color: red;
  }
}
.logoLogin {
  margin: 15px 0 0 50%;
  position: absolute;
  left: -78px;
  width: 220px;
}
.fontColor {
  background-image: -webkit-linear-gradient(right, #ff3366, #ff9966);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}
.smartIcon {
  position: absolute;
  width: 120px;
  top: 240px;
  margin-left: 50%;
  left: -60px;
}
.none {
  display: none;
}
.szBtn{
  font-size: 24px;
  top: 15px;
  position: absolute;
  right: 15px;
  color: rgb(255, 255, 255);
}
